//
   Created by jiawei.tu on 1/6 0006.

.container
   .masthead
      h3.text-muted Project name
      nav
         ul.nav.nav-justified
            <li class="active"><a href="/">Home</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="downloads">Downloads</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
   script(src="/javascript/body.js")