//
   Created by jiawei.tu on 1/6 0006.

.footer.v2_footer
   section
      .col-sm-2
         a(href="about") profile
      .col-sm-2
         a(href="#") wenhua
      .col-sm-2
         a(href="#") contact
      .col-sm-6
         p &copy; Company 2016