extends layout

block content
  .jumbotron

    #carousel-blog-generic.carousel.slide(data-ride="carousel")
      ol.carousel-indicators
        li.active(data-target="#carousel-blog-generic", data-slide-to="0")
        li(data-target="#carousel-blog-generic", data-slide-to="1")
        li(data-target="#carousel-blog-generic", data-slide-to="2")
      div.carousel-inner(role="listbox")
        div.item.active
          img(src="/images/slide1.png", alt="First slide")
        div.item
          img(src="/images/slide2.png", alt="Second slide")
        div.item
          img(src="/images/slide3.png", alt="Third slide")
      a.left.carousel-control(href="#carousel-blog-generic", role="button", data-slide="prev")
        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        span.sr-only Previous
      a.right.carousel-control(href="#carousel-blog-generic", role="button", data-slide="next")
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.sr-only Next
  .row
    .col-lg-12
      p.slogan 御硕实业,您全球主要港口的专业合作伙伴
    .col-lg-4
      h2 Safari bug warning!
      p.text-danger.
        As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes
        rendering errors in the justified nav that are cleared upon refreshing.
      p.
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      <p><a class="btn btn-primary" href="#" role="button">View detail &raquo;</a></p>
    .col-lg-4
      h2 Safari bug warning!
      p.text-danger.
        As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes
        rendering errors in the justified nav that are cleared upon refreshing.
      p.
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      <p><a class="btn btn-primary" href="#" role="button">View detail &raquo;</a></p>
    .col-lg-4
      h2 Safari bug warning!
      p.text-danger.
        As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes
        rendering errors in the justified nav that are cleared upon refreshing.
      p.
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      <p><a class="btn btn-primary" href="#" role="button">View detail &raquo;</a></p>
  script(src="/javascripts/index.js")