extends layout

block content
  .jumbotron
     h1 Marketing stuff!
     p.lead.
       Cras justo odio, dapibus ac facilisis in, egestas eget quam.
       Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
       ut fermentum massa justo sit amet.
     <p><a class="btn btn-lg btn-success" href="test" role="button">Get started today</a></p>

  .row
    .col-lg-4
      h2 Safari bug warning!
      p.text-danger.
        As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes
        rendering errors in the justified nav that are cleared upon refreshing.
      p.
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      <p><a class="btn btn-primary" href="#" role="button">View detail &raquo;</a></p>
    .col-lg-4
      h2 Safari bug warning!
      p.text-danger.
        As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes
        rendering errors in the justified nav that are cleared upon refreshing.
      p.
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      <p><a class="btn btn-primary" href="#" role="button">View detail &raquo;</a></p>
    .col-lg-4
      h2 Safari bug warning!
      p.text-danger.
        As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes
        rendering errors in the justified nav that are cleared upon refreshing.
      p.
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      <p><a class="btn btn-primary" href="#" role="button">View detail &raquo;</a></p>
