//
   Created by tujiaw on 16/1/7.

extends layout

block content
   .container
      .row
         .col-sm-3.sidebar-offcanvas#sidebar
            .list-group
               a.list-group-item(href="#") 关于我们
               a.list-group-item(href="#") 企业简介
               a.list-group-item(href="#") 企业文化
               a.list-group-item(href="#") 领导致辞
               a.list-group-item(href="#") 联系我们
            table.contact
               tr
                  td
                     p
                        strong 矿泉水公司
                     p 地址：湖南长沙高新开发区
                     p 电话：0731-834849591
                     p 手机：189876543210
                     p 联系人：陈先生
                     p 邮 编：410001
                     p E-mail：mobanpeizhi@163.com
                     p 网站：www.mobanpeizhi.com

         .col-sm-9
            .row
               h4.infoCurrentItem 关于我们
               p.infoNav
                  each item in infoNav
                     <a href="#">#{item}</a> >

               p.clearBoth.hidden
            hr
            p.
               互联网信息公司是国内领先的B2B电子商务服务提供商，依托其核心互联网产品买卖通以及雄厚的传统营销渠道--广告与中国资讯大全、研究院行业分析报告为客户提供线上、线下的全方位服务，这种优势互补，纵横立体的架构，已成为中国B2B行业的典范，对电子商务的发展具有革命性影响。
               今天，我们网承诺，以专业、创新和迎合需求的服务与产品，来提高电子商务社区买卖双方的交易机会，为扩大国内乃至国际贸易创造机会。我们深信，在日趋成熟的互联网技术下将更有作为，将在一个如此庞大与充满商机的市场中继续引领潮流、不断开拓创新，并不断为买卖双方企业赢造网上贸易奇迹！