body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.language {
  float:right;
  margin-top:10px;
  margin-right:20px;
}

p.slogan {
  font-size: 18px;
  font-weight:bold;
  color:#5b6169;
}
.copyright {
  background: #e9e9e9;
  font-size: 13px;
  text-align: center;
  color: #555555;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #a0a0a0;
}
.copyright span {
  margin: 0 .5em;
}
.copyright a {
  color: #555555;
}

.infoCurrentItem {
  padding-top:0px;
}
p.infoNav {
  padding-top:11px;
}